@model IEnumerable<SC.BL.Domain.Ticket>
@using Resources
@{
    ViewBag.Title = @Resources.Tickets;
}

<h2>@Resources.Tickets</h2>

<p><a asp-action="Create">@Resources.NieuwTicket</a></p>

<table class="table">
    <tr>
        <th>@Resources.Nummer</th>
        <th>@Resources.Account</th>
        <th>@Resources.Probleem</th>
        <th>@Resources.Aangemaakt</th>
        <th>@Resources.Status</th>
        <th></th>
    </tr>
    @foreach (SC.BL.Domain.Ticket ticket in Model)
    {
        <tr>
            <td>@ticket.TicketNumber</td>
            <td>@ticket.AccountId</td>
            <td>@ticket.Text</td>
            <td>@ticket.DateOpened</td>
            <td>@ticket.State</td>
            <td>
                <a asp-action="Details" asp-route-id="@ticket.TicketNumber">@Resources.Details</a>
                 | <a asp-action="Edit" asp-route-id="@ticket.TicketNumber">@Resources.Bewerk</a>
                 | <a asp-action="Delete" asp-route-id="@ticket.TicketNumber">@Resources.Verwijderen</a>
            </td>
        </tr>
    }
</table>